{
	auto_https off
	admin off
	persist_config off
}

:{$PORT:8080} {
	root * /app
	encode gzip zstd

	@rootIndex path /index.html /index
	redir @rootIndex / 301

	@htmlExt path_regexp htmlext ^/(.+)\.html$
	redir @htmlExt /{re.htmlext.1} 301

	try_files {path} {path}.html {path}/index.html

	file_server
}
